<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
<h1>
    Teachers
</h1>

<hr>

<h2>Save Teacher</h2>

    <form th:action="@{/teachers/t/add}" method="post" style="display:inline-block;" th:object="${teachers}">
        <div class="form-group">
            <label for="firstName">Email address</label>
            <input type="text" class="form-control" id="firstName" placeholder="First name" th:field="*{firstName}">
        </div>
        <div class="form-group">
            <label for="lastName">Email address</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last name" th:field="*{lastName}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" th:field="*{email}">
        </div>

        <button type="submit" class="btn btn-primary" onclick="return confirm('Save this teacher?');">Save</button>
    </form>

    <p style="margin: 50px 0;">
        <a href="/teachers/t">Back to Teacher's List</a>
    </p>

</div>
</body>
</html>